.display {
  background: #484848; 
  
  &__input {
    display: block;
    width: 100%;
    font-size: 2.2rem;
    border: 0;
    background: transparent;
    text-align: right;
    padding: 0.8rem 1rem;
    color: rgba(255, 255, 255, 0.75);

    &--large {
      font-size: 2.4rem;
    }

    &--small {
      font-size: 2rem;
    }
  }
}