.btn {
  font-size: 2rem;
  width: 100%;
  padding: 2rem;
  background: #6b6359;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  cursor: pointer;
  outline: 0;
  transition: all .1s;

  &:active {
    background: #544f49;
  }

  &--ac {
    background: #bf3434;

    &:active {
      background: #9b2b2b;
    }
  }

  &--equal {
    background: #3a3aa7;
  }
}