.display {
  background: #484848; 
  border-radius: 3px;
  padding-top: 5px;
  
  &__input {
    display: block;
    width: 100%;
    font-size: 2.2rem;
    border: 0;
    background: transparent;
    text-align: right;
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.75);
  }
}